body{
  background-color: #FEFEFF;
  padding: 50px;
  color: white;
}

.inner-body{
  /* margin: 50px; */
  height: 85vh;
  box-shadow: -3px 8px 10px 13px #e2e2ea;
  display: inline-grid;
  grid-template-columns: 5% 30% 65%;
  grid-template-rows: 100%;
  width: 100%;
  background-color: #273EAE;  
}
  @media(max-width: 800px) {
    .inner-body{
      display: inline-grid;
      grid-template-columns: 5% 49% 50%;
      grid-template-rows: 100%;
    }
    body{
      padding: 0;
    }
    aside{   
      background-color: #162F9A;
      height: inherit;
      text-align: center;
    } 

    .profile-div{
      background-color: #273EAE;
      height: inherit;
      width: 100%;
      text-align: center;
    }
  }
  @media(max-width: 500px) {
    .inner-body{
      display: inline-grid;
      grid-template-columns: 5% 49% 50%;
      grid-template-rows: 100%;
    }
    body{
      padding: 0;
    }
    aside{   
      background-color: #162F9A;
      height: inherit;
      text-align: center;
    } 

    .profile-div{
      background-color: #273EAE;
      height: inherit;
      width: 100%;
      text-align: center;
    }
  }

aside{
  background-color: #162F9A;
  height: 100%;
  text-align: center;
  /* padding: 50px; */
  opacity: 0;
  position:  relative;
  transition: 0.9s cubic-bezier(0.4, 0, 1, 1);
}

aside:hover {
  background-color: #162F9A;
  opacity: 1;
  visibility: visible;
  z-index: inherit;
}

aside > .fas, .far, .fa{
  padding: 35px 0;
}
.fab{
  padding: 20px;
  opacity: .5;
}
.top-aside{
  height: 10%;
  background-color: #21BDCA;
}

.profile-div{
  background-color: #273EAE;
  width: 100%;
  text-align: center;
}

.profile-div > h2, h3{
  margin-top: 30px;
}

.profile-div > p, h3{
  font-weight: 300;
}

.profile-div > p{
  opacity: .7;
  font-size: small;
  margin-top: 2%;
}

.profile-image{
  border-radius: 50%;
  border: 2px dotted #dbd6c5;
  padding: 8px;
  margin: 5% 36%;
  width: 22%;
}


.profile-numbers {
  display: inline-flex;
  margin-top: 40px;
}

.profile-numbers > span{
  padding: 0 60px;
}

.profile-numbers > .left-span{
  border-right: 3px solid white; 
}

.profile-numbers > span > p{
  opacity: .7;
  margin-top: 13px;
  font-size: small;
  margin-top: 2%;
}


.main-body{
  background-color: #EDF0F5;
  width: 100%;
  height: 100%;
}
