@import url("https://fonts.googleapis.com/css?family=Muli|Roboto");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Muli', sans-serif;
}

/* header starts */
.top {
  background-color: #1b8cfd;
  color: white;
}

.top h3 {
  margin: 0px;
  font-size: 15px;
}

.top .estimate {
  width: 90%;
  margin: 0px auto;
  text-align: center;
  padding: 20px 0px;
}

.top .social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  cursor: pointer;
  padding: 20px 0px;
  margin: 0px;
}

.top .social ul li {
  list-style-type: none;
}

.top .social ul li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media screen and (min-width: 768px) {
  .top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    padding: 20px 30px;
  }
  .top .estimate {
    width: 100%;
    text-align: left;
  }
  .top .social ul {
    justify-items: right;
  }
}

@media screen and (min-width: 1024px) {
  .top {
    padding: 20px 120px;
  }
  .top h3 {
    font-size: 1.17em;
  }
}

/* nav */
.navscroll {
  position: fixed;
}

nav {
  width: 100%;
  margin: 0px auto;
}

nav .logo {
  padding: 20px;
}

nav .logo h2 {
  display: inline-block;
  margin: 0px;
}

nav .logo .imge {
  float: right;
}

nav .logo .imge img {
  width: 30px;
  height: 30px;
  float: right;
}

nav .navlink {
  display: none;
}

nav .navlinkshow {
  display: block;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav ul {
  padding: 0px;
  text-align: center;
}

nav ul li {
  padding-bottom: 20px;
  list-style-type: none;
}

nav ul li a {
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
  color: #1b8cfd;
}

nav ul button {
  width: 76px;
  height: 35px;
  background-color: #1b8cfd;
  color: #DDE3EC;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav .navlink {
    display: block;
  }
  nav .imge {
    display: none;
  }
  nav .logo {
    padding: 0px;
  }
  nav .naval {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px;
  }
  nav .navlink {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: right;
  }
  nav .navlink li {
    padding: 0px;
  }
}

@media screen and (min-width: 1024px) {
  nav .naval {
    padding: 20px 120px;
  }
}

/* nav ends */
/* bg-image */
.bgimage {
  background-image: url("../../assets/header.png");
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  height: 600px;
}

.bgimage .headerQoute {
  width: 90%;
  margin: 0px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  position: relative;
  top: 20%;
}

.bgimage .headerQoute h1 {
  margin: 0px;
  font-size: 44px;
  line-height: 40px;
  font-weight: 900;
  color: #1E2F4F;
  text-align: center;
  padding: 20px;
}

.bgimage .headerQoute p {
  padding: 0px 20px 20px 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.bgimage .headerQoute .headerButton {
  text-align: center;
  padding: 20px;
}

.bgimage .headerQoute .headerButton input[type="button"] {
  height: 40px;
  width: 160px;
  padding: 7px;
  border: none;
  color: #DDE3EC;
  background-color: #1b8cfd;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 1024px) {
  .bgimage .headerQoute {
    width: 450px;
    margin: 0px 120px;
  }
  .bgimage .headerQoute h1,
  .bgimage .headerQoute p,
  .bgimage .headerQoute .headerButton {
    text-align: left;
  }
}

.service {
  padding: 120px 0px;
}

.service .servLeft .servCard {
  width: 270px;
  height: 245px;
  margin: 0px auto;
  background: linear-gradient(45deg, #0682ff 0%, #3aa3ff 100%);
  -webkit-box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.5);
          box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.5);
  margin-bottom: 25px;
}

.service .servLeft .servCard:nth-child(even) {
  background: white;
}

.service .servLeft .servCard:nth-child(even) h3,
.service .servLeft .servCard:nth-child(even) p {
  color: #1b8cfd;
}

.service .servLeft .img {
  text-align: center;
}

.service .servLeft .img img {
  padding: 20px;
}

.service .servLeft .img h3 {
  font-size: 25px;
  color: white;
  padding: 15px;
}

.service .servLeft .img p {
  font-size: 16px;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .service .servLeft {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.service .servRight {
  width: 90%;
  margin: 0px auto;
}

.service .servRight .servDetails h1 {
  font-size: 30px;
  color: #1E2F4F;
  padding: 20px 0px;
}

.service .servRight .servDetails p {
  color: #1b8cfd;
}

.service .servRight .servDetails .servBtn {
  padding: 20px 0px;
}

.service .servRight .servDetails .servBtn input {
  height: 40px;
  width: 120px;
  background-color: transparent;
  border: 1px solid #1b8cfd;
  color: #1b8cfd;
  border-radius: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0px auto;
  }
  .service .servLeft .servCard {
    margin: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 1194px;
    margin: 0px auto;
  }
  .service .servLeft {
    width: 540px;
  }
  .service .servRight {
    width: 398px;
  }
  .service .servRight h1 {
    font-size: 50px;
  }
}

section.whyUs {
  width: 90%;
  margin: 0px auto;
}

section.whyUs h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #1E2F4F;
}

section.whyUs .reason {
  padding: 60px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(288px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}

section.whyUs .reason .why {
  text-align: center;
  width: 257px;
  height: 228px;
  margin: 0px auto;
  margin-bottom: 20px;
  color: #1E2F4F;
}

section.whyUs .reason .why h4 {
  font-size: 30px;
}

section.whyUs .reason .why h3 {
  font-size: 25px;
  font-weight: 200;
}

@media screen and (min-width: 1440px) {
  section.whyUs .reason {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.feedbacks {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 120px;
}

.feedbacks h1 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: #1E2F4F;
}

.feedbacks .clients {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  border-radius: 10px;
}

.feedbacks .clients p {
  padding: 20px;
}

.feedbacks .clients .client-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 20px 20px;
  justify-items: center;
  width: 250px;
}

.feedbacks .clients .client-img span h5 {
  font-size: 21px;
  padding-right: 30px;
}

@media screen and (min-width: 1024px) {
  .feedbacks .client-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 950px;
    margin: 0px auto;
    padding: 50px 0px;
  }
}

footer {
  color: #DDE3EC;
  background-color: #1E2F4F;
}

footer .footer-content {
  background-image: url("./../assets/Intersection 1.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer .footer-content .footerGroup.first {
  width: 250px;
  margin: 0px auto;
}

footer .footer-content .footerGroup.first p {
  padding: 20px 0px;
}

footer .footer-content .footerGroup.first .social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer .footer-content .footerGroup.first .social ul li {
  list-style-type: none;
  padding: 20px;
}

footer .footerGroup {
  width: 250px;
  margin: 0px auto;
  padding: 30px 0px;
}

footer .footerGroup h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer .footerGroup ul li {
  font-size: 16px;
  list-style-type: none;
  padding: 10px 0px;
}

@media screen and (min-width: 768px) {
  footer .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  footer .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.tingle-modal-box__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  text-align: center;
  background-color: #1b8cfd;
  color: #DDE3EC;
}

.tingle-modal-box__content h1 {
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 15px black;
          box-shadow: 0px 1px 15px black;
  cursor: pointer;
  font-size: 30px;
  font-weight: 200;
}

.tingle-modal-box__content h1 a {
  text-decoration: none;
  color: #DDE3EC;
}

@media (max-width: 320px) {
  .tingle-modal-box__content h1 {
    font-size: 16px;
    width: 225px;
  }
}
/*# sourceMappingURL=main.css.map */