@import'./variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
}

/* header starts */

.top {
    background-color: $primary-color;
    color: white;
    h3 {
        margin: 0px;
        font-size: 15px;
    }
    .estimate {
        width: 90%;
        margin: 0px auto;
        text-align: center;
        padding: 20px 0px;
    }
    .social ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        cursor: pointer;
        padding: 20px 0px;
        margin: 0px;
        li {
            list-style-type: none;
            &:hover {
                transform: scale(1.5);
                transition: 500ms;
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 20px 30px;
        .estimate {
            width: 100%;
            text-align: left;
        }
        .social ul {
            justify-items: right;
        }
    }
    @media screen and (min-width: 1024px) {
        padding: 20px 120px;
        h3 {
            font-size: 1.17em;
        }
    }
}

/* nav */
.navscroll{
  position:fixed;
}
nav {
    width: 100%;
    margin: 0px auto;
    .logo {
        padding: 20px;
        h2 {
            display: inline-block;
            margin: 0px;
        }
        .imge {
            float: right;
            img {
                width: 30px;
                height: 30px;
                float: right;
            }
        }
    }
    .navlink {
        display: none
    }
    .navlinkshow {
        display: block;
        transition: 500ms;
    }
    ul {
        padding: 0px;
        text-align: center;
        li {
            padding-bottom: 20px;
            list-style-type: none;
            a {
                font-size: 25px;
                font-weight: 900;
                text-decoration: none;
                color: #1b8cfd;
            }
        }
        button {
            width: 76px;
            height: 35px;
            background-color: #1b8cfd;
            color: $color5;
            border-radius: 5px;
            border: none;
            font-weight: 900;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
            cursor: pointer;
        }
    }
    @media screen and (min-width: 768px) {
        .navlink {
            display: block;
        }
        .imge {
            display: none;
        }
        .logo {
            padding: 0px;
        }
        .naval {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 20px 30px;
        }
        .navlink {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: right;
            li {
                padding: 0px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .naval {
            padding: 20px 120px;
        }
    }
}

/* nav ends */

/* bg-image */

.bgimage {
    background-image: url('../../assets/header.png');
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 600px;
    .headerQoute {
        width: 90%;
        margin: 0px auto;
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
        position: relative;
        top: 20%;
        h1 {
            margin: 0px;
            font-size: 44px;
            line-height: 40px;
            font-weight: 900;
            color: $color2;
            text-align: center;
            padding: 20px;
        }
        p {
            padding: 0px 20px 20px 20px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        .headerButton {
            text-align: center;
            padding: 20px;
            input[type="button"] {
                height: 40px;
                width: 160px;
                padding: 7px;
                border: none;
                color: $color5;
                background-color: $primary-color;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
            }
        }
        @media screen and (min-width: 1024px) {
            width: 450px;
            margin: 0px 120px;
            h1,
            p,
            .headerButton {
                text-align: left;
            }
        }
    }
}

// service section start
.service {
    padding: 120px 0px;
    .servLeft {
        .servCard {
            width: 270px;
            height: 245px;
            margin: 0px auto;
            background: linear-gradient(45deg, rgba(6, 130, 255, 1) 0%, rgba(58, 163, 255, 1) 100%);
            box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.5);
            margin-bottom: 25px; // border: 1px solid black;
            &:nth-child(even) {
                background: white;
                h3,
                p {
                    color: #1b8cfd;
                }
            }
        }
        .img {
            text-align: center;
            img {
                padding: 20px;
            }
            h3 {
                font-size: 25px;
                color: white;
                padding: 15px;
            }
            p {
                font-size: 16px;
                color: white;
                padding: 10px;
            }
        }
        @media screen and (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    .servRight {
        width: 90%;
        margin: 0px auto;
        .servDetails {
            h1 {
                font-size: 30px;
                color: $color2;
                padding: 20px 0px;
            }
            p {
                color: $primary-color;
            }
            .servBtn {
                padding: 20px 0px;
                input {
                    height: 40px;
                    width: 120px;
                    background-color: transparent;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        .servLeft .servCard {
            margin: 0px
        }
    }
    @media screen and (min-width:1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1194px;
        margin: 0px auto;
        .servLeft {
            width: 540px;
        }
        .servRight {
            width: 398px;
            h1 {
                font-size: 50px;
            }
        }
    }
}

// service section ends
// Why us section start
section.whyUs {
    width: 90%;
    margin: 0px auto;
    h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        color: $color2;
    }
    .reason {
        padding: 60px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        .why {
            text-align: center;
            width: 257px;
            height: 228px;
            margin: 0px auto;
            margin-bottom: 20px;
            color: $color2;
            h4 {
                font-size: 30px;
            }
            h3 {
                font-size: 25px;
                font-weight: 200;
            }
        }
        @media screen and (min-width:1440px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Why us section ends
// Feedback section start
.feedbacks {
    width: 90%;
    margin: 0px auto;
    padding-bottom: 120px;
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px;
        color: $color2;
    }
    .clients {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
        border-radius: 10px;
        p {
            padding: 20px;
        }
        .client-img {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            padding: 0px 0px 20px 20px;
            justify-items: center;
            width: 250px;
            span {
                h5 {
                    font-size: 21px;
                    padding-right: 30px;
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        .client-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            width: 950px;
            margin: 0px auto;
            padding: 50px 0px;
        }
    }
}

// Feedback section ends
// footer starts
footer {
    color: $color5;
    background-color: $color2;
    .footer-content {
      background-image: url('./../assets/Intersection\ 1.png');
      background-repeat: no-repeat;
      background-position: center;
        .footerGroup.first {
            width: 250px;
            margin: 0px auto;
            p {
                padding: 20px 0px;
            }
            .social ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                justify-items: center;
                li {
                    list-style-type: none;
                    padding: 20px;
                }
            }
        }
    }
    .footerGroup {
        width: 250px;
        margin: 0px auto;
        padding: 30px 0px;
        h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        ul li {
            font-size: 16px;
            list-style-type: none;
            padding: 10px 0px;
        }
    }
    @media screen and (min-width:768px){
      .footer-content{
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      }
    }
    @media screen and (min-width:1440px){
      .footer-content{
        display:grid;
        grid-template-columns: repeat(4,1fr);
      }
    }
}
.tingle-modal-box__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  text-align: center;
  background-color: $primary-color;
  color: $color5;
  h1 {
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
    cursor: pointer;
    font-size: 30px;
    font-weight: 200;
    a{
      text-decoration: none;
      color: $color5;
    }
    @media (max-width: 320px){
      
      font-size: 16px;
      width: 225px;
    }
}

}