@import'./variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*Nav starts */
*{
  padding: 0;
  margin: 0;
}
nav {
  width: 100%;
  .logo {
      padding: 20px;
      h2 {
          display: inline-block;
          margin: 0px;
          a{
            text-decoration: none;
            color: $primary-color;
            cursor: pointer;
          }
      }
  }
  .navlink {
      display: inline;
    
  }
  .navlinkshow {
      display: block;
      transition: 500ms;
  }
  ul {
      padding: 0px;
      text-align: center;
      li {
          padding-bottom: 20px;
          list-style-type: none;
          .nav-link {
              font-size: 15px;
              font-weight: 100;
              color: $primary-color;
              text-decoration: none;
              cursor: pointer;
          }
        
          p {
            font-size: 25px;
            color: $color6;
          }
      }
      button {
          width: 76px;
          height: 35px;
          background-color: #1b8cfd;
          color: $color5;
          border-radius: 5px;
          border: none;
          font-weight: 900;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
          cursor: pointer;
      }
  }
  @media screen and (min-width: 768px) {
      .navlink {
          display: block;
      }
    
      
      .naval {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          padding: 20px 30px;
          background-color: $primary-color;
          .logo {
            padding: 0px;
            color: $color6;
            h2{
              a{
                text-decoration: none;
                color: $color5;
                cursor: pointer;
              }
            }
        }
      }
      .navlink {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          justify-items: right;
          a .nav-link:hover{
            text-decoration: underline;
          }
          li {
              padding: 0px;
          }
          p {
            padding: 0px;
            margin: 0px -85px 0px 0px;
            color: $color6;
          }
      }
  }
  @media screen and (min-width: 1024px) {
      .naval {
          padding: 20px 120px;
      }
      .navlink{
        p{
          margin: 0px -125px 0px 0px;
        }
      }
  }
//   @media screen and (min-width: 768px) {
//     .naval {
//         padding: 10px 120px;
//     }
//     .navlink{
//       p{
//         margin: 0px -85px 0px 0px;
//       }
//     }
// }
}

/* nav ends */

/* form starts*/

.signup-form {
  position: relative;
  max-width: 365px;
  margin: 70px auto 100px;
  padding: 45px 65px 45px 45px;
  text-align: center;
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  background: $color7;

  h2{
    font-family: 'Montserrat', sans-serif;
  }

  .loginhere-message{
    color: $color8;

    .loginhere-link{
      text-decoration: none;
      cursor: pointer;
    }
  }

  .label-agree-term{
    color: $color8;

    .term-service{
      text-decoration: none;
      cursor: pointer;
    }
  }


  .form-submit{
    font-family: inherit;
    background: $primary-color;
    width: 25%;
    border: 0;
    border-radius: 5px;
    padding: 15px 0px 15px 0px;
    margin: 15px 0px 5px 0px;
    color: $color7;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

}
.form-input {
  font-family: inherit;
  outline: 0;
  background: $color6;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}
.form-group-name{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
}
@media screen and (min-width: 768px) {
  
}